.btn-primary {
  background: #905d88;
  color: #fff
}

.btn-primary:hover {
  background: #994f75;
}

.btn-secondary {
  background: #994f75;
  color: #fff
}

.btn-secondary:hover {
  background: #905d88;
}

body {
  background: #102f31;
}

  .site-project-header {
    padding: 170px 0 100px;
    background: #324b38
}

.site-counter {
  padding: 85px 0;
  color: #ffffff;
  background: #324b38
}

.site-counter .section-title {
  margin-bottom: 40px
}

.site-navigation{
  padding: 20px 0;
  background: #1e2841;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  @include desktop{
    background: #ffffff;
    margin: 10px;
    border-radius: 5px;
    top: 0;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }
  @include mobile{
    padding: 15px;
  }
  .navbar-brand{
    padding: 0;
    margin: 0;
    img{
      max-width: none;
    }
  }
  .nav-item{
    @include desktop{
      text-align: center;
    }
    .nav-link{
      font-family: $secondary-font;
      color: $white;
      transition: all .3s ease;
      padding: 15px 18px;
      position: relative;
    }
    &:last-child{
      margin-left: 15px;
    }
  }
.navbar-toggler{
    color: #fff;
    outline: 0;
    padding: 0;
  .icon-bar {
      height: 2px;
      width: 25px;
      transition: all 0.2s;
      background: $primary-color;
      display: block;
      &:not(:last-child){
        margin-bottom: 5px;
      }
      &:nth-child(1){
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      &:nth-child(2){
        opacity: 0;
	      filter: alpha(opacity=0);
      }
      &:nth-child(3){
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    &.collapsed{
      .icon-bar{
        &:nth-child(1){
          transform: rotate(0);
        }
        &:nth-child(2){
          opacity: 1;
          filter: alpha(opacity=1);
        }
        &:nth-child(3){
          transform: rotate(0);
        }
      }
    }
  }
  &.nav-bg{
    padding: 12px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    @include mobile{
      padding: 15px;
    }
  }
}
.site-navigation .nav-item .nav-link {
  font-family:montserrat,sans-serif;
  color:#fff;
  transition:all .3s ease;
  padding:15px 18px;
  position:relative
 }
 h6 {
  font-family:montserrat,sans-serif;
  font-weight:600;
  color:#d4ead7;
  font-size: 30px;
 }
p {
  font-size:16px;
  color:rgb(49, 46, 46);
 }
 h1 {
  font-family:montserrat,sans-serif;
  font-weight:600;
  color:#d4ead7;
 }
 h2 {
  font-family:montserrat,sans-serif;
  font-weight:600;
  color:#ffffff;
 }
 .section-title h3 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
 }
 h3 {
  font-family: montserrat,sans-serif;
  font-weight: 600;
  color: #00113e;
 }
 .site-footer {
  background:#3d4a49;
  padding:100px 0
 }
.site-testimonial-item {
  background:#fff;
  padding:30px;
  margin-bottom:30px;
  transition:all .3s ease-in
 }
.site-testimonial {
  background: #f18f6c; !important
  padding: 100px 0;
  overflow: scroll;
}
.site-team {
  background: #1e2841;
  padding:100px 0
 }

 .site-navigation .navbar-brand img {
  max-width: 400px;
}
.site-contact {
  padding:150px 0 100px;
  background:#2a3629;
 }

 .site-about-header {
  padding-top:80px;
  background-color:#1e2841;
 }
 .site-about-company {
  background:#1e2841;
  width:40%;
  padding:70px 38px
 }
 .site-expertise {
  padding:100px 0;
  background:#1e2841;
 }
.site-project-single-section {
  padding:250px 0 100px;
  background: #d3bebe;
 }
 