{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
        {{ range (where $.Site.RegularPages "Type" "portfolio") }}
        <div class="col-lg-4 mx-auto" style="background-color:#102f31 !important">
          <div class="site-project-item">
            <a href="{{ .Permalink }}" class="read-more">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="{{.Title}}">
            </div>
            <div class="site-project-item-content", style="background-color: transparent !important">
              <span>{{ delimit .Params.category ", " }}</span>
              <h6 style="color: black;">{{ .Title }}</h6> 
            </div>
          </a>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-left">
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}