{{ with .Site.Data.team }}
  {{ if .enable }}
  <section class="site-team" id="about">
    
   <div class="container">
    <div style="padding: 20px;  background:aliceblue;" ><h3>About Us</h3><p>Apoyo Health Services is a social work-led organisation dedicated to delivering specialist psychosocial support and comprehensive NDIS Allied Health and Therapy Services. Founded by a senior social worker with over 30 years of experience in the Community Care and Aged Care sectors, our service is grounded in the core values of social work: empowerment, respect, inclusion, and holistic, person-centred care.
      Operating across Tasmania and Victoria, we offer an integrated range of supports including psychosocial recovery coaches, mentors, and mental health support workers. Our team is committed to walking alongside participants on their recovery journey, helping them build resilience, develop life skills, and achieve greater independence and wellbeing.
      At Apoyo, we understand the importance of timely, therapeutic intervention. That’s why we prioritise capacity-building and quick access to high-quality allied health services. Our strength lies in forming meaningful partnerships—with participants, their families, NDIS agency partners, and other service providers—ensuring a collaborative and coordinated approach to care.
      As a social work-driven provider, we view each participant as an individual with unique strengths, goals, and lived experiences. Clinical excellence is important to us, but it’s our commitment to dignity, advocacy, and relationship-based practice that truly sets us apart. Apoyo Health Services is more than a provider—it’s a partner in recovery, wellbeing, and social inclusion.
      </p>
     <div class="row">
      
       <div class="col-13">
	 <div class="section-title">
<!--        <h2>
	     {{ .title }}
	   </h2>--> 
	 </div>
       </div>
       {{ range .members }}

         
{{ end }}
      </div>
     </div>
     
  </section>
  
  {{ end }}
{{ end }}
